version: '3.9'

services:
  postgres:
    image: postgres:16-alpine
    container_name: order_postgres
    env_file:
      - .env.docker
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB"]
      interval: 5s
      timeout: 5s
      retries: 5
      start_period: 10s

  order-service:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: order_service
    env_file:
      - .env.docker
    depends_on:
      postgres:
        condition: service_healthy
    environment:
      client.user-service.url: http://host.docker.internal:8080
    ports:
      - "8084:8084"

volumes:
  postgres_data: